<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ansuru.ams.svr.user.dao.UserMapper">

    <resultMap id="entityUser" type="com.ansuru.ams.svr.user.entity.EntityUser">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
    </resultMap>


    <select id="findById" resultMap="entityUser">
      select * from ams_user t where t.id=#{id}
    </select>

    <select id="find" resultMap="entityUser" parameterType="com.ansuru.ams.svr.user.entity.EntityUser">
        select
        *
        from ams_user where 1=1
        <if test="username != null and username != ''">
            AND username = #{username}
        </if>
        <if test="password != null and password != ''">
            AND password = #{password}
        </if>
    </select>
</mapper>